.customwp-alert {
    padding: .6rem .4rem;
    margin: 1.2rem 0;
    border-width: 2px;
    border-style: solid;
}

.customwp-alert-info {
    background-color: lightblue;
    border-color: darkcyan;
}
